# Flask
# flask-cors
# groq
# python-dotenv
# sentence-transformers
# faiss-cpu
# PyPDF2
# langchain
# langchain-community
# gunicorn
# numpy

Flask
flask-cors
groq
python-dotenv
faiss-cpu
sentence-transformers
langchain
numpy
gunicorn
psutil
